.intro{
    display: flex;
    height: 77vh;
    margin-top:6rem;
}
.i-left{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    gap: 2rem;
    
}
.i-right{
    flex: 1;
}
.i-name{
    display: flex;
    flex-direction:column ;
}
.i-name>:nth-child(1){
    color:var(--black);
    font-weight:bold;
    font-size:3rem ;
}
.i-name>:nth-child(2){
    color:var(--orange);
    font-weight:bold;
    font-size:3rem ;
}
.i-name>:nth-child(3)
{
    font-weight: 100;
    font-size: 16px;
    color: var(--gray);
    margin-top: 10px;

}
.i-button{
    width: 6rem;
    height: 2rem;
    
}
.i-icons{
    margin-top: 3rem;
    display: flex;
    gap:0rem;

}
.i-icons>*{
    transform: scale(0.5);
}
.i-icons>*{
   cursor: pointer;
}